.navbar.center .navbar-inner {
    text-align: center;
}
.navbar.center .navbar-inner .nav {
    float: none;
    display:inline-block;
}



#logout{
    margin-left: -8px;
    margin-top: 8px
}

#events div{
    margin-top: -17px;
}

#events a{
    color: #FFFFFF;
}
