*   { margin: 0; padding: 0; }
h1  { text-align: center;}
body    { font-family: Georgia, serif; color: #3a3a3a;
    text-align: center;}

form    { width: 250px; height: 228px; margin: 10px auto 0;
    border-radius: 10px;}

fieldset	{ border: 11px solid lightgray; background-color: #4D86BF
-moz-box-sizing: border-box; }

#signup-button { margin-top: 10px; margin-bottom:10px;}

#signup-button a{
    color: #ffffff;
}