*   { margin: 0; padding: 0; }

body    { font-family: Georgia, serif; color: #3a3a3a;
    text-align: center;}

.form-group    { width: 250px; height: 218px; margin: 10px auto 0;
    border-radius: 10px;}
fieldset	{ border: 11px solid lightgray; background-color: #4D86BF  }
input{
    margin:auto;
}

textarea{
    width: 300px;
    margin:auto;
}

fieldset	{ border: 3px solid lightgray; background-color: #4D86BF  }

#signup-button       { margin-top: 12px}

#signup p{
    margin-top:10px;
}

#signup             { width: 220px; height: 100px; margin: 20px auto 0;}